name: "Test CI"

on: [push, pull_request]

jobs:
  tests:
    runs-on: self-hosted
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4

      - name: Do the flake check
        run: nix flake check --show-trace

      - name: Build nix package
        run: nix build .
